.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokemonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  max-width: 80%;
  flex-wrap: wrap;
}

@media (max-width: 600px) {
  
}
